<div class="event_left">
	<h2>Make It An Event!</h2>
	<div class="social_row">
		<div class="social_txt goo">Add Google Cal event</div>
		<div class="social_txt fb_event">Invite your friends to a Facebook event</div>
	</div>
	<div class="social_row btm_row">
		<a href="javascript:void(0);" target="_blank" class="social_btn goo_cal" onclick="makeKnicksEvent()">
  </a>
		<a href="javascript:void(0)" onclick="create_msg_event()" class="social_btn fb"></a>
	</div>
</div>

<div class="event_right">
	<h2>listen to the FNK Theme song</h2>
	<div class="row">
		<div class="listen">Performed by Robert Randolph and the Family Band</div>
	</div>

	<a class="audio_btn" href="http://msg.com/fnk" target="_blank">Download the song now</a>

	<!-- <audio id="audio_player" controls="controls">
	  <source src="/assets/get_there.ogg" type="audio/ogg">
	  <source src="/assets/get_there.mp3" type="audio/mpeg">
		Your browser does not support the audio element.
	</audio> -->
</div>

