<div id="footer">
  
  <div class="disclaimer">
<!--     <p>Facebook is a registered trademark of Facebook, Inc. This promotion is in no way sponsored, endorsed or administered by, or associated with, Facebook. You are providing your information to the promotion administrators and not to Facebook. The information you provide will only be used to select a winner and receive notification of prizing and/or information pertaining to MSG Networks.</p>
 -->  </div>
</div>


