<%= image_tag("instagram_header.png", :class=>'instagram_header') %>
<h2>Follow <span class="orange">@msgnetworks</span> and be sure to tag <span class="orange">#FNK</span> in your photos from Friday Night Knicks games</h2>