#hor-minimalist-a
{
  font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
  font-size: 12px;
  background: #FFFFF1;
  margin: 20px;
  width: 550px;
  border-collapse: collapse;
  text-align: left;
}
#hor-minimalist-a th
{
  font-size: 14px;
  font-weight: normal;
  color: #000000;
  padding: 10px 8px;
  border-bottom: 2px solid #000000;
}
#hor-minimalist-a td
{
  color: #000000;
  padding: 9px 20px 0px 8px;
  width: 5px; 
}
#hor-minimalist-a tbody tr:hover td
{
  color: #000000;
}
